// BLOCOS DE EFEITOS/ESTILIZAÇÃO/RESPONSIVIDADE PARA SEREM REUTILIZADOS
@use '../abstracts/variables' as vars;

@mixin section-default {
    color: vars.$neutral-blue-dark;
    padding: 4rem;
    font-size: vars.$font-size-default;
}

@mixin card {
    width: 100%;
    max-width: 550px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    color: vars.$neutral-blue;
    padding: vars.$padding;
    border-radius: vars.$border-radius;
    box-shadow: vars.$border-shadow;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    h2 {
        font-size: vars.$font-size-subtitle;
        font-weight: vars.$font-wgt-600;
        color: vars.$neutral-blue-dark;
        margin-bottom: 1.5rem;
    }

    p {
        font-size: vars.$font-size-default;
        font-weight: vars.$font-wgt-400;
        letter-spacing: .5px;
    }

    img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        position: absolute;
        bottom: 10px;
        right: 50px;
    }

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
}

@mixin respond-to($breakpoint) {
    @if map-has-key(vars.$breakpoints, $breakpoint) {
      $value: map-get(vars.$breakpoints, $breakpoint);
      @media (max-width: $value) {
        @content;
      }
    } @else {
      @warn "Breakpoint '#{$breakpoint}' não existe no mapa de breakpoints.";
    }
  }